*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: #0c111b;
    width: 100%;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.title{
    margin-top: 1%;
    color: #fff;
    padding-left: 1%;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    overflow: hidden;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
}
.container img {
    width: 190px;
    height: 180px;
   border-radius: 10px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    transition: transform .4s linear;
    cursor: pointer;
    object-fit:cover;
    align-items: center;
    
}
.container::-webkit-scrollbar{
    overflow: hidden;
    display: none;
    

}
.container img:hover{
    transform: scale(1.1);

}



.navbar{
    width: 100%;
    height: 80px;
    background: #0c111b;
    top: 0;
    left: 0;
    padding: 0.4%;
    display: flex;
    z-index: 9;
    align-items: center;
}
.logo{
    height: 90px;
    
}

.nav-links{
    margin-top: 10px;
    display: flex;
    list-style: none;
    color: #fff;
}

.nav-items{
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    opacity: 0.9;
    text-transform: capitalize;
    
}

.right-end{
    display: block;
    margin-left: auto;
    

}
.searchbox{
    align-items: right;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #aaa;
    height: 30px;
    width: 250px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: .5s;
    text-transform: capitalize;
}
.subscribe{
    background: rgb(49, 49, 243);
    height: 30px;
    padding: 0 20px;
    color: #fff;
    border-radius: 5px;
    font-size: 12;
    border: none;
    outline: none;
    margin: 0 10px;
}

.login-link{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    opacity: 0.9;
    font-weight: 500;
}

.cell {
    width: 60%;
    height: 350px;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  .cell:before {
    display: block;
    text-align: center;
     line-height: 200px;
    font-size: 80px;
    color: white;
  }
  .container-tamil,.container-disney,.container-malayalam,.container-hindi,.container-bengali,.container-telugu,.container-kannada{
      display: flex;
      gap: 10px;
  } 



